numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
xgboost==2.0.3
optuna==3.6.1

fastapi==0.110.0
uvicorn==0.30.0

joblib==1.4.2

imbalanced-learn==0.12.3
scipy==1.11.4

python-multipart==0.0.9
typing-extensions==4.12.2

matplotlib==3.8.4
seaborn==0.13.2